nav{
    position: fixed;
    top: 10rem;
    left: 10rem;
    height: 15rem;
    background: white;
    border-radius: 1rem;
    text-align: left;

    ul{
        z-index: 9;
        list-style: disc;
        color: #80bdff;
        margin-right: 3rem;
        li {
            margin-bottom: 0.5rem;
        }
        
    }
}