<h1>Examples</h1>
<nav>
  <ul>
    <li>
      <a
        routerLink="/basic"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Basic AG Grid</a
      >
    </li>
    <li>
      <a
        routerLink="/filter-tool"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Filters Tool Panel</a
      >
    </li>
    <li>
      <a
        routerLink="/cross-filtering"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Cross Filtering</a
      >
    </li>
  </ul>
</nav>
